<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header-manager.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen-addProduct.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Thêm nhân viên</title>
</head>

<body>
<% include ../layout/header-manager %>
<% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>
<div class="content-page">
    <div class="content-header">
        <h1>THÊM MỚI NHÂN VIÊN</h1>
    </div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#detail">Chi tiết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#moreInformation">Thông tin khác</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-pane active" id="detail">
            <form action="/staff/update/<%= id %>" method="post">
                <div class="content-details">
                    <div class="content-details1">
                        <div class="form-group">
                            <label>Tên nhân viên</label>
                            <input name="name" type="text" class="form-control" required pattern=".*\S+.*"
                                   title="This field is required" placeholder="Tên nhân viên" value="<%= name %>">
                        </div>
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <input name="user_id" type="text" required pattern=".*\S+.*"
                                   title="This field is required" class="form-control" value="<%= user_id %>">
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input name="password" type="text" required pattern=".*\S+.*"
                                   title="This field is required" class="form-control" value="<%= password %>">
                        </div>
                        <div class="form-group">
                            <label>Giới tính</label><br>
                            <input type="radio" name="gender" value="Male" <%= gender == 'Male' ? 'checked' : ''%>> Nam<br>
                            <input type="radio" name="gender" value="Female" <%= gender == 'Female' ? 'checked' : ''%>> Nữ<br>
                            <input type="radio" name="gender" value="Other" <%= gender == 'Other' ? 'checked' : ''%>> Khác
                        </div>
                    </div>

                    <div class="content-details3">
                        <div class="form-group">
                            <label for="select-group">Công việc</label>
                            <select name="role" class="form-control" id="select-group">
                                <option value="ROLE-0001" <%= role == 'ROLE-0001' ? 'selected' : ''%>>Admin</option>
                                <option value="ROLE-0002" <%= role == 'ROLE-0002' ? 'selected' : ''%>>Quản lý</option>
                                <option value="ROLE-0003" <%= role == 'ROLE-0003' ? 'selected' : ''%>>Thu ngân</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input name="phone" type="number" class="form-control" value="<%= phone %>">
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input name="address" type="text" class="form-control" value="<%= address %>">
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label><br>
                            <input type="radio" name="status" value=1 <%= status == 1 ? 'checked' : ''%>> Làm việc<br>
                            <input type="radio" name="status" value=0 <%= status == 0 ? 'checked' : ''%>> Không làm việc
                        </div>
                    </div>
                </div>
                <div class="btn-nav">
                    <!--                        <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Lưu</button>-->
                    <input type="submit" class="btn btn-primary" value="Lưu">
                    <button type="button" class="btn btn-warning" id="back_product">Thoát <i class="fas fa-forward"></i></button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="moreInformation">
            <div class="form-group">
                <label>Ghi chú nhanh khi bán hàng</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

</div>
</div>
</body>
<script src="/javascripts/header-manager.js"></script>
<script src="/javascripts/addProduct.js"></script>

</html>